#searchBox{

    padding: 0px !important;

    margin: 0px !important;

    .container{
        padding: 0px !important;
    }

    input{
        margin-left: 0px;
        width: 70%;
        border-radius: 5px 0px 0px 5px;
    }

    .btn{
        width: 30%;
    }

}