#BannerHome{
    height: 768px;
    background: var(--bs-primary);
    h1{
        color: white;
        font-size: 42px;
        font-weight: 600;
        font-family: poppins;
        padding-left: 0.5em;
        padding-top: 4em;
        
    }
    .imgBanner{
        
        background-image: url(../../assets/img/camioneta2.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 80%;
    }
    
    
}

@media (max-width: 767px){

    #BannerHome{
        height: 690px;
        background-size: contain;
        background-position: bottom;
        h1{
            font-size: 26px;
            padding: 190px 0px;
            margin: 0px;
            text-align: center;
    
    
        }
        .imgBanner{
            background-position: bottom 200px center;
        }
    }
}