$over-lap: -120px;

#CadrDeck{

    padding: 55px 25px 15px 25px;    
    margin-top: $over-lap;
    background-color: white !important;


        

        .btn {
            display:block;
            height: 54px;
            width: 54px;
            border-radius: 50%;
            padding: 0px;
            margin: 0 0 25px 0;       
            img {
                // width: 25px;
                // height: 25px;
            }
        }
        .card {
            border-radius: 0px !important;
            border-width: 0px;
            padding-top: 0 !important;
            margin-top: 35px !important;
            background-color: transparent !important;


            p {
                margin-bottom: 0px !important;
            }

            h5, ul{
                padding-left: 50px;
            }

            ul{
                list-style: '- '
            }

            li{
                text-align: left;
                font: normal normal normal 14px/31px Poppins;
                letter-spacing: 0px;
                color: #222222;
                opacity: 0.8;
            }
        }
        .card-body{
            padding-top: 0px;
        }

        #subTitle{
            .row{

                :nth-child(3){
                    padding: 0 0 0 38px !important;

                }
                :nth-child(2){
                    padding: 0 0 0 32px !important;
                }
                :nth-child(1){
                    padding: 0 0 0 22px !important;
                }
            }
            p{
                margin: 0px;
 
            } 
        }
        #central {
            
            border-width: 0 2px 0 2px !important;
 
            
            
        }
        .card-title{
            text-align: left;
            font-size: 32px;
            letter-spacing: 0px;
            color:  var(--bs-primary) !important;
            margin-top: 0px !important;
        }
        .card-text{
            font-size: 14px;
            color: #222222;
            opacity: 0.8;
        }
        .card-muted{
            font-size: 17px;
            color: #222222;
            opacity: 0.8;
            margin-bottom: 0px !important;
            
        }

        // .whatsapp {
        //     position:relative;
        //     width:60px;
        //     height:60px;
        //     bottom:40px;
        //     color:#FFF;
        //     z-index:100;
        //   }
          
        //   .whatsapp-icon {
        //     margin-top:13px;
        //   }

        .whatsapp {
          position:fixed;
          width:60px;
          height:60px;
          bottom:40px;
          right:40px;
        //   background-color:#25d366;
          color:#FFF;
          border-radius:50px;
          text-align:center;
          font-size:30px;
          z-index:100;
        }

        .whatsapp-icon {
          margin-top:13px;
        }
}