#tenes-cotizacion {
  h2{
    text-align: left;
    font: normal normal 600 24px Poppins;
    color: #2F3394;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #2F3394;
    border: 2px solid #2F3394;
    border-radius: 100%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;

    &:checked {
        background-color: transparent;
        border-color: #2F3394;

        &::after {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-color: #2F3394;
            border-radius: 100%;
            margin: 2px;
        }
    }

    &:hover {
        cursor: pointer;
        border-color: #1E1F6F;
    }
}
}
