#Header{
    
    
    .hero-landing-1{
        height: 771px;
    }
    .hero-title-big{
        margin-top: 150px;
        padding-right: 55px;
        
    
    }
    a{
        text-decoration: none;
        color: white;
    }


    
} 

@media (max-width: 767px){
    #Header{
        .hero-title-big{
            padding-right: 0px !important;
        }

        .btn-primary, .btn-secondary {
            margin-bottom: 1em;
        }

        .hero-landing-1{
            height: 130vh;
            background-size: cover;
            // background-position: right -280px bottom -30px;
            background-position: right;
        }
    }

}
