nav {
    background-color: transparent !important;
    transition: 0.3s all;


   

}

#NavBarHome {
    a {
        color: white !important;
        text-decoration: none;
        margin-left: 2em;
    }

    
    
}


.activeNav{
    background-color: var(--bs-primary) !important ;

}