#LogoCarouselMobile{

    h2{
        color: var(--bs-primary);
        text-align: left !important;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        padding-left: 20px;
    }
    .partnerLogo{padding: 15px;
    }

}