@import "custom";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.wrapper-hero {
  position: relative;
  height: 140vh;
}
.hero-landing-1 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 4.5rem 8.7rem;
  display: flex;
  flex-direction: column;
}
.hero-logo {
  width: 100%;
  margin-bottom: 4.5rem;
  max-width: 266px;
}
.hero-title-big {
  text-align: left;
  font: normal normal 600 56px/69px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  max-width: 650px;
}
.hero-title-small {
  text-align: left;
  font: normal normal 300 36px/67px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.9;
}

.container-form {
  position: absolute;
  left: 30%;
  bottom: 10%;
  width: 40%;
  background: #fafafa 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #00000029;
  opacity: 1;
  padding: 37px 36px 41px 36px;
}
.form-title {
  display: flex;
  font: normal normal 600 21px/64px Poppins;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.input_container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 22px;
  width: 307px;
  height: 40px;
  border-radius: 8px;
  &__icon {
    height: 100%;
    color: #2f3394;
    background-color: #26167013;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__field {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    outline: none;
    border: none;
    text-align: left;
    font: normal normal medium 12px/35px Poppins;
    letter-spacing: 0px;
    color: #222222;
    background-color: #26167013;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
.input_icon {
  color: #2f3394;
  height: 20px;
  width: 20px;
  margin-left: 15px;
}

.textfield {
  font: normal normal 300 36px/67px Poppins;
  background: #271670 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 0.05;
  &__textarea {
    box-shadow: 0 0 7px 0 gray;
    &:focus {
      outline: none;
      box-shadow: 0 0 7px 0 red;
      + .textfield__adornment {
        display: none;
      }
    }
  }
  &__input {
    background: #271670 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 0.05;
    &--focused {
      background: #efeef3 0% 0% no-repeat padding-box;
      border: 2px solid #2f3394;
      border-radius: 8px;
      opacity: 1;
    }
    &-field {
      border: 0px;
      padding-left: 10px;
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
        font: normal normal 300 36px/67px Poppins;
      }
    }
    &-adornment {
      width: 14px;
      height: 20px;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 7px 0 red;
      + .textfield__adornment {
        &-placeholder {
          display: none;
        }
      }
    }
  }
  &__adornment {
    position: absolute;
    top: 8px;
    left: 12px;
    &-text {
      color: #5d5d5d;
    }
    &-placeholder {
      margin-left: 5px;
      color: #bdbdbd;
    }
  }
}

.text-icon {
  text-align: left;
  font: normal normal normal 17px/21px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
  padding-left: 20px;
}
.container-main {
  width: 100vw;
  margin: 0;
  padding: 0;
}
.section-door {
  display: flex;
  justify-content: space-around;
  padding: 140px;
  max-height: 873px;
}
.section-door-container-text {
  max-width: 466px;
}
.section-door-container-flex-text {
  display: flex;
  align-items: center;
  margin-top: 26px;
}
.section-door-text-title {
  text-align: left;
  font: normal normal 600 44px/54px Poppins;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.section-door-number {
  width: 38px;
  min-width: 38px;
  height: 38px;
  border: 2px solid #2f3394;
  border-radius: 25px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal 600 21px/24px Poppins;
  letter-spacing: 0px;
  color: #2f3394;
  margin-right: 14px;
}
.section-door-text-paragraph {
  text-align: left;
  font: normal normal 500 18px/21px Poppins;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  max-width: 466px;
}
.btn-pill {
  margin-top: 26px;
  padding: 26px 40px;
  border-radius: 50px;
  text-align: left;
  font: normal normal 500 17px/34px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.main-trafic-img {
  width: 50%;
}
.section-trafic-text-title {
  text-align: left;
  font: normal normal 500 45px/61px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.main-bg-gradient {
  width: 50%;
  height: auto;
  background: transparent linear-gradient(131deg, #2f3394 0%, #eb1c23 100%) 0%
    0% no-repeat padding-box;
}
.main-bg-gradient-1 {
  width: 50%;
  height: auto;
  background: transparent linear-gradient(131deg, #eb1c23 0%, #eb1c23 100%) 0%
    0% no-repeat padding-box;
}
.section-truck-text {
  text-align: left;
  font: normal normal 500 25px/41px Poppins;
  letter-spacing: 0px;
  color: #222222;
}
.section-truck-text-bold {
  text-align: left;
  font: normal normal 700 25px/41px Poppins;
  letter-spacing: 0px;
  color: #2f3394;
}
.bg-footer {
  width: 100%;
  min-height: 433px;
}
.footer-title {
  text-align: center;
  font: normal normal 600 34px/54px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.footer-subtitle {
  text-align: center;
  font: normal normal 400 18px/32px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}
.footer-title-payments {
  display: flex;
  align-items: center;
  text-align: center;
  font: normal normal 600 34px/54px Poppins;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
}
.step-button {
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
}
.fa-circle {
  font-size: larger;
  text-align: center;
  vertical-align: middle;
}
.bs-stepper-line {
  flex: 1 0 32px;
  min-width: 3px;
  min-height: 3px;
  margin: auto;
  background-color: #ffffff59;
}
.section-footer-container-text {
  max-width: 466px;
  display: flex;
  align-items: center;
}
.footer-border-bottom-blue {
  border-bottom: 13px solid #2f3394;
}
// Breakpoints
@media (max-width: 1024px) {
  .container-form {
    left: 10%;
  }
  .container-form {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .wrapper-hero {
    position: unset;
    display: flex;
    flex-direction: column;
  }
  .hero-landing-1 {
    padding: 2rem;
  }
  .container-form {
    position: unset;
    width: 100%;
    height: auto;
  }
  .hero-title-big {
    font: normal normal 600 36px/49px Poppins;
  }
  .hero-title-small {
    font: normal normal 300 26px/49px Poppins;
  }
  .form-title {
    font: normal normal 600 15 px / 64 px Poppins;
  }
}
@media (max-width: 426px) {
  .hero-landing-1 {
    background-position: bottom;
  }}